

<div id="page-top">
  <!-- Page Wrapper -->
  <div id="wrapper">

    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <div class="container-fluid">

          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary"> Edit Camp Items</h6>

            </div>
            <div class="card-body">

              <%= render 'form', camp_item: @camp_item %>
            </div>
          </div>


        </div>
      </div>
    </div>



  </div>
</div>
